.css-image{
    color: red;
    /* font-size: 18px;
    font-family: 18px;
    font-weight: 700;
    text-decoration-line:none; */
}

.green-link{
    color: teal;
   text-decoration-line:none;
   font-weight:700;
    font-family: cursive;
    font-size: 18px;
 
}